
img {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

img {
    pointer-events: none;
}

.main-card-font {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
}

.main-card-font2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.movie_card {
    font-family: 'Poppins', sans-serif;
    padding: 0 !important;
    width: 21rem;
    margin: 14px;
    border-radius: 10px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}

.movie_card:hover {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.7);

}

.movie_card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 33rem;
}

.movie_info {
    color: #5e5c5c;
}

.movie_info i {
    font-size: 22px;
}

.credits {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 2px solid #8e24aa;
    font-size: 18px;
}

.credits .card-body {
    padding: 0;
}

.credits p {
    padding-top: 15px;
    padding-left: 18px;
}

.credits .card-body i {
    color: #8e24aa;
}
